<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @flirt.sender_id %>
</p>

<p>
  <strong>Recipient:</strong>
  <%= @flirt.recipient_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @flirt.status %>
</p>

<p>
  <strong>:</strong>
  <%= @flirt. %>
</p>

<%= link_to 'Edit', edit_flirt_path(@flirt) %> |
<%= link_to 'Back', flirts_path %>
